*{
    margin: 0px;
    padding: 0px;
    }
    .rem {
        font-size: 1rem;
      }
    body {
        font-family: "Montserrat", sans-serif;
        background-color: #fdf5f5;
      }
      header {
        background-color: #4927a0;
        color: white;
        padding: 10px 0;
        position: sticky;
        top: 0;
        z-index: 1;
      }
      
      header img {
        width: 300px;
        margin-right: 100px;
      }
    .car-compras {
        background-color: #232323;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 45px;
      }
      
      .car-compras p {
        font-size: small;
        margin: 20px;
        
      }
      section {
        margin: 30px;
      }
      .bienvenidos {
        /*background-image: url(../img/bienvenida-imagen.jpg);*/
        background-color: #938dcd;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 18vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .bienvenidos h1 {
        color: aliceblue;
        text-align: center;
        font-weight: bold;
      }
      
      h2 {
        font-weight: bold;
        text-align: center;
      }
      .navbar {
        background-color: #4927a0;
        font-weight: bold;
        font-size: 18px;
      }
      
      .navbar-toggler {
        background-color: #fff;
        color: #250c6c;
      }
      
      .navbar-nav a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: #fff;
        text-decoration: none;
      }
      
      .navbar-nav .nav-link.active {
        color: #fff;
      }
      
     

      .padre-fotos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding-top: 15px;
    }
    .celulares {
        background-color: rgb(215, 227, 231);
        width: 450px;
        height: 450px;
        margin-bottom: 20px;
        text-align: center;
        margin-right: 20px;
        position: relative;
    }
    
    .celulares img {
        width: 350px;
        height: 350px;
        display: block;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .celulares:hover img {
      transform: scale(1.1);
  }
  .celulares p {
   
    font-weight: bold;
  }
    

    .descuentos{
        position: absolute;
        top: 0;
        right: 5px;
        background-color: green;
    }

    .carousel-item img {
        width: 100px;
        height: 45vh;
    }
    @media (min-width:500px) {
        .carousel-item img {
            height: 55vh;
        }
    }
    @media (min-width:750px) {
        .carousel-item img {
            height: 70vh;
        }
    }
    @media (min-width:900px) {
        .carousel-item img {
            height: 85vh;
        }
        #carouselExampleAutoplaying {
            width: 65%;
            margin: 0 auto;
        }
    }
    .redes-sociales {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      
      
      bottom: 20%;
      right: 30px;
  }
  .iconosRedes {
    margin: 5px;
  }
  footer {
    padding: 20px;
    margin-top: 20px;
    background-color: #232323;
    color: #c5c0c0;
    text-align: center;
}
/*CLASE PARA PREGUNTAS FRECUENTES EN SECTION CONTACTOS*/

.contac {
  background-color: #232323;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contac h1 {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.formulario h3 {
  color: blue;
  font-weight: bolder;
  font-size: larger;
}
.preguntas-frecuentes h3 {
color: blue;
font-size: x-large;
font-weight: bold;
}


.accordion {
  width: 60%;
}
.accordion-button {
  color: blue;
}
.accordion-button:hover {
  background-color: blue;
  color: white;
}
.mapa {
  
  display: flex;
  width: 50vw;
  margin-left: 30px;
  margin-bottom: 10vh;
}

.px{
  color: #fff;
  text-decoration: none;
}
.youtube{
  width: 30px;
  margin-bottom: 50px;
}